.requirements {
    padding: 145px 0 170px 0;
    background-image: url(/img/bg-img/requirements-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            33.26% 45% at 64.32% 47.1%,
            rgba(255, 255, 255, 0) 3.36%,
            rgba(0, 0, 0, 0) 19.22%,
            #080a0b 99.74%
        );
        z-index: -1;
    }
}

.header {
    margin-bottom: 133px;
}

.caption, .title {
    text-align: center;
}

.table {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #979797;
}