.navigation {
    display: flex;
}

.link {
    font-family: var(--font-open-sans), sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin-right: 50px;
    text-transform: uppercase;
    color: #fff;
    &:last-child {
        margin-right: 0;
    }
    transition: color 0.3s ease;
    &:hover {
        color: #ffb548;
        text-shadow: 2px 2px 8px #61100c57;
    }
}